input {
  width: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem !important;
}
#color-inputs {
  text-align: center;
  margin-top: 3rem;
}
#color-display {
  margin-top: 4rem;
  flex-direction: row;
  justify-content: center;
}
.user-display {
  display: inline-flex;
  max-width: 60%;
  flex-direction: column;
  justify-content: center;
}
.user-colors {
  display: inline-flex;
  flex-direction: column;
  max-width: 37%;
  justify-content: end;
  align-self: center;
}
#main {
  display: flex;
  justify-content: space-around;
}
.list-group-item {
  position: absolute;
  display: flex;
  width: 25rem;
  height: auto;
}
.color-sample {
  position: relative;
  justify-content: end;
}
